editForCom/bin-debug/
newMoblie/bin-debug/
newMoblie/bin-release/
newMoblie/template/
newMoblie/libs/
newMoblie/manifest.json
library/
MultiBingo/bin-debug/
MultiBingo/bin-release/
MultiBingo/template/
MultiBingo/libs/
MultiBingo/manifest.json
slots/bin-debug/
slots/bin-release/
slots/template/
slots/libs/
slots/manifest.json